<div class="expense-container">
  <button mat-flat-button color="primary" (click)="toggleForm()">Add Expense</button>

  <div *ngIf="showForm()" class="form-card">
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Total Price</mat-label>
        <input matInput
               inputmode="decimal"
               [ngModel]="totalPrice()"
               (ngModelChange)="totalPrice.set($event)"
               appNumericOnlyDirective

        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Expense Type</mat-label>
        <mat-select [value]="expenseType()" (selectionChange)="expenseType.set($event.value)">
          <mat-option *ngFor="let type of expenseTypes" [value]="type">{{ type }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Notes</mat-label>
        <input matInput [value]="notes()" (input)="notes.set($any($event.target).value)"/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" [value]="date()"  (dateChange)="date.set($event.value)" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div class="form-actions">
        <button mat-flat-button color="accent" (click)="addExpense()">Save</button>
      </div>
    </div>
  </div>

  <div class="table-wrapper">
    <table mat-table [dataSource]="expenses()" class="mat-elevation-z8 responsive-table">

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element; let i = index" (click)="openEditDialog(element)">
          <ng-container *ngIf="editingIndex === i && cacheUpdate; else readDate">
            <mat-form-field appearance="outline" floatLabel="auto">
              <mat-label>Date</mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="cacheUpdate.expenseDate" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </ng-container>
          <ng-template #readDate>{{ element.expenseDate | date }}</ng-template>
        </td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element; let i = index" (click)="openEditDialog(element)">
          <ng-container *ngIf="editingIndex === i && cacheUpdate; else readType">
            <mat-form-field appearance="outline" floatLabel="auto">
              <mat-label>Expense Type</mat-label>
              <mat-select [(ngModel)]="cacheUpdate.expenseType">
                <mat-option *ngFor="let type of expenseTypes" [value]="type">{{ type }}</mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
          <ng-template #readType>{{ element.expenseType }}</ng-template>
        </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let element; let i = index" (click)="openEditDialog(element)">
          <ng-container *ngIf="editingIndex === i && cacheUpdate; else readPrice">
            <mat-form-field appearance="outline" floatLabel="auto">
              <mat-label>Total Price</mat-label>
              <input matInput type="number" [(ngModel)]=" cacheUpdate.totalPrice" inputmode="decimal" />
            </mat-form-field>
          </ng-container>
          <ng-template #readPrice>{{ element.totalPrice }}</ng-template>
        </td>
      </ng-container>

      <!-- Notes Column -->
        <ng-container matColumnDef="notes">
          <th mat-header-cell *matHeaderCellDef>Notes</th>
          <td mat-cell *matCellDef="let element; let i = index" (click)="openEditDialog(element)">
            <ng-container *ngIf="editingIndex === i && cacheUpdate; else readNotes">
              <mat-form-field appearance="outline" floatLabel="auto">
                <mat-label>Notes</mat-label>
                <input matInput [(ngModel)]="cacheUpdate.notes" />
              </mat-form-field>
            </ng-container>

            <ng-template #readNotes>{{ element.notes }}</ng-template>
          </td>
        </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <ng-container *ngIf="editingIndex === i; else actionButtons">
            <button mat-icon-button color="primary" (click)="saveEdit(i)">
              <mat-icon>save</mat-icon>
            </button>
            <button mat-icon-button (click)="cancelEdit()">
              <mat-icon>cancel</mat-icon>
            </button>
          </ng-container>
          <ng-template #actionButtons>
            <button mat-icon-button color="primary" (click)="editRow(i, element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteRow(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-template>
        </td>
      </ng-container>

      <!-- Header and row declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
